
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}
.font-family-Roboto-Medium{
    font-family: 'Roboto-Medium', arial, sans-serif;
}
.font-family-Roboto-Black{
    font-family: 'Roboto-Black', arial, sans-serif;
}
.font-family-Roboto-Bold{
    font-family: 'Roboto-Bold', arial, sans-serif;
}
.font-family-Roboto-Regular{
    font-family: 'Roboto-Regular', arial, sans-serif;
}


/*.navbar{position:sticky}*/

.menu-large {
    position: static !important;
}

.megamenu {
    padding: 20px 20px;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    right: 0;
}

.megamenu > div > li > ul {
    padding: 0;
    margin: 0;
}

.megamenu > div > li > ul > li {
    list-style: none;
}

.megamenu > div > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.megamenu > div > li > ul > li > a:hover,
.megamenu > div > li > ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    /*filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);*/
    cursor: not-allowed;
}

.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}

.bg-maquinatrix{
    background-color: #001343;
}
.menu .nav-item .nav-link{
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #0070E0;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
.menu li a{
    text-transform: uppercase;
}
.bg-general{
    padding: 50px 0;
}
.bg-slider{
    background-image: url(../img/bg-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 418px;
}
.box{
    border: 1px solid #E4E5E7;
    border-radius: 5px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
    background-position: center center;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.box div{
    width: 56%;
}
.box div p{
    font-size: 14px;
}
.box div h5{
    font-size: 22px;
}
.box div a{
    font-size: 15px;
    background-color: #FFD140;
    color: #000000;
    border-radius: 21px;
    padding: 11px 23px;
}
.box div a:hover{
    background-color: #FFB41E;
    text-decoration: none !important;
}
.text-blue{
    color: #0070E0 !important;
}
.titulo{
    font-size: 24px;
    margin-bottom: 22px;
}
.titulo a{
    font-size: 15px;
}
.cuadro{
    border: 1px solid #E4E5E7;
    border-radius: 8px;
}
.cuadro .cuadro-img{
    position: relative;
    overflow: hidden;
}
.cuadro .cuadro-img .abs{
    background-color: red;
    color: #ffffff;
    text-align: center;
    transform: rotate(41deg);
    position: absolute;
    top: 10%;
    right: -36%;
    width: 100%;
    font-size: 13px;
}
.cuadro .cuadro-img img{
    width: 100%;
}
.cuadro .cuadro-des{
    padding: 15px;
}
.cuadro .cuadro-des ul{
    padding: 0 0 0 15px;
    margin: 0;
    color: #0070E0;
}
.cuadro .cuadro-des ul li a{
    font-size: 12px;
    color: #0070E0;
    text-decoration: none !important;
}
.cuadro .cuadro-des p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 6px;
}
.cuadro .cuadro-des strong{
    font-size: 20px;
    display: block;
    color: #000000;
}
.cuadro .cuadro-des span{
    display: block;
    font-size: 15px;
    color: #95979D;
}
.banner{
    background-color: #001343;
    border-radius: 12px;
}
.banner .banner-row{
    padding: 50px 40px;
}
.banner span{
    font-size: 13px;
    margin-bottom: 12px;
    letter-spacing: 1.95px;
    display: block;
}
.banner h3{
    font-size: 22px;
    margin-bottom: 35px;
}
.banner a{
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 21px;
    padding: 11px 20px;
    text-decoration: none !important;
}
.box-categoria{
    border: 1px solid #E4E5E7;
    border-radius: 8px;
    padding: 12px 22px;
}
.box-categoria a{
    color: #000000;
    font-size: 18px;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    background-color: #001343;
    padding: 70px 0 50px;
}
footer h3{
    color: #ffffff;
    font-size: 15px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li a{
    font-size: 13px;
    color: #ffffff !important;
}
footer a{
    font-size: 13px;
}
footer .linea{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
footer p{
    font-size: 13px;
}
.btn-1{
    background-color: #FFD140;
    padding: 12px 14px;
    border-radius: 21px;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #000000 !important;
    display: block;
    transition: 0.2s all linear;
}
.btn-1:hover{
    background-color: #FFB41E;
}
.btn-2{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 21px;
    padding: 12px 14px;
    color: #ffffff !important;
    text-decoration: none !important;
    display: block;
}
/*page tienda*/
.titulo-principal{
    font-size: 20px;
    color: #000000;
}
.titulo-principal-adorno{
    font-size: 14px;
    color: #95979D;
}
.busqueda{
    border: 1px solid #E4E5E7;
    border-radius: 8px;
    padding: 19px;
}
.busqueda h3{
    font-size: 18px;
}
.busqueda h4{
    font-size: 15px;
}
.busqueda p{
    font-size: 13px;
    color: #62646A;
}
.busqueda input{
    font-size: 14px;
}
.formulario-busqueda input{
    width: 100%;
    border: 1px solid #E4E5E7;
    border-radius: 4px;
    outline: none !important;
    padding: 10px 14px;
}
.formulario-busqueda select{
    color: #95979D;
    font-size: 14px;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #E4E5E7;
    border-radius: 4px;
    height: 46px;
}
.campos-min-max input{
    width: 136px;
    /*width: 82px;*/
    border: 1px solid #E4E5E7;
    border-radius: 4px;
    outline: none !important;
    padding: 10px 14px;
}
.busqueda input::-webkit-input-placeholder { /* Edge */
    color: #95979D;
    font-size: 14px;
}
.busqueda input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #95979D;
    font-size: 14px;
}
.busqueda input::placeholder {
    color: #95979D;
    font-size: 14px;
}
.form-control:focus {
    border-color: #495057;
    box-shadow: none;
}
.busqueda .tipo label{
    font-size: 14px;
    color: #000000;
}
.btn-maquinatrix {
    color: #95979D;
    background-color: transparent;
    border-color: #E4E5E7;
}
.btn-maquinatrix.focus,
.btn-maquinatrix:focus{
    box-shadow: none;
    background: #001343;
    color: #fff;
}
.btn-filtros{
    background-color: #001343;
    color: #ffffff !important;
    padding: 14px;
    text-align: center;
    width: 100%;
    border-radius: 23px;
    display: block;
    font-size: 13px;
    text-decoration: none !important;
}
.titulo-tienda{
    font-size: 14px;
    color: #000000;
}
.titulo-tienda a{
    border: 1px solid #62646A;
    border-radius: 20px;
    padding: 8px 13px;
    font-size: 14px;
    color: #000000;
    text-decoration: none !important;
    outline: none !important;
    display: inline-block;
}
.titulo-tienda .activo,
.titulo-tienda a:focus{
    background-color: #D9EAFB !important;
    color: #0070E0 !important;
    border: 1px solid #0070E0 !important;
}
.bg-tienda a{
    color: #000000;
    text-decoration: none !important;
}
.box-tienda{
    border: 1px solid #E4E5E7;
    border-radius: 8px;
}
.box-tienda .box-img{
    width: 157px;
    overflow: hidden;
}
.box-tienda .box-img .abs{
    background-color: #0070E0;
    color: #ffffff;
    text-align: center;
    transform: rotate(41deg);
    position: absolute;
    top: 12%;
    right: -32%;
    width: 100%;
    font-size: 13px;
}
.box-tienda .box-img img{
    width: 100%;
}
.box-tienda .box-description{
    padding: 10px 20px;
    width: 100%;
}
.box-tienda .box-description h2{
    font-size: 18px;
    color: #000000;
}
.box-tienda .box-description h3 strong{
    font-size: 20px;
    color: #000000;
}
.box-tienda .box-description h3 span{
    font-size: 15px;
    color: #95979D;
}
.box-tienda .box-description .detalles{
    font-size: 14px;
}
.box-tienda .box-description .mini-detalles{
    border-top: 1px solid #E4E5E7;
    padding-top: 16px;
}
.box-tienda .box-description .mini-detalles p{
    font-size: 13px;
}
.box-tienda .box-description .mini-detalles ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.box-tienda .box-description .mini-detalles li{
    font-size: 14px;
}
.box-tienda .box-description .mini-detalles li i{
    color: #0070E0;
}
.box-tienda .box-description .mini-detalles .ubicacion{
    font-size: 14px;
    color: #707070;
}
.box-tienda .box-description .mini-detalles .btn-contacto{
    background-color: #23BE6B;
    color: #ffffff;
    border-radius: 21px;
    padding: 8px 17px;
    display: inline-block;
}

/*page detalles*/
.bg-detalles{
    padding: 50px 0;
}
.bg-detalles h1{
    font-size: 26px;
}
.bg-detalles .migas{
    background-color: #EEF0F3;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 12px;
    display: inline-block;
    text-decoration: none !important;
    color: #000000;
}
.bg-detalles .migas1{
    color: #0070E0;
    background-color: rgba(0,112,224,0.22);
}
.bg-detalles .migasactive{
    background-color: #0070E0;
    color: #ffffff;
}
.bg-detalles .redes a{
    background-color: #EEF0F3;
    color: #000000;
    padding: 8px 20px;
    border-radius: 23px;
    display: inline-block;
    text-decoration: none !important;
    text-align: center;
    font-size: 14px;
}
.bg-detalles .galeria{
    display: flex;
    gap: 27px;
}
.bg-detalles .galeria .miniatura{
    width: 90px;
}

.bg-detalles .galeria .miniatura a{
    background-color: #E4E5E7;
    border-radius: 8px;
    border: 1px solid transparent;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    opacity: 0.5;
}
.bg-detalles .galeria .miniatura a.activo{
    border: 1px solid #0070E0;
    opacity: 1;
}
.bg-detalles .galeria .miniatura a img{
    width: 88px;
    height: auto;
}
.bg-detalles .galeria .presentacion{

}

.bg-detalles .perfil{
    border: 1px solid #E4E5E7;
    border-radius: 8px;
    padding: 20px 20px 10px;
    margin-top: 60px;
}
.bg-detalles .perfil .datos h5{
    font-size: 18px;
}
.bg-detalles .perfil .datos p{
    font-size: 14px;
}
.bg-detalles .perfil .datos .resena{
    color: #62646A;
    font-size: 14px;
}
.bg-detalles .perfil .datos p.start{
    font-size: 15px;
}
.bg-detalles .perfil .perfil-verificado .abs{
    position: absolute;
    bottom: -8%;
    left: 0;
    transform: translate(0, 8%);
}
.bg-detalles .perfil .linea{
    border-bottom: 1px solid #E4E5E7;
    width: 100%;
    margin-bottom: 20px;
}
.bg-detalles .perfil .verificado img{
    font-size: 25px;
    height: auto;
}
.bg-detalles .perfil .verificado h5{
    font-size: 15px;
    margin-bottom: 5px;
}
.bg-detalles .perfil .verificado p{
    font-size: 13px;
    color: #62646A;
    margin-bottom: 0;
    line-height: 20px;
}
.bg-detalles .detalles{
    margin-top: 30px;
}
.bg-detalles .detalles h2{
    font-size: 22px;
    margin-bottom: 15px;
}
.bg-detalles .detalles p{
    font-size: 16px;
    line-height: 26px;
}
.bg-detalles .detalles a{
    text-decoration: none !important;
}
.bg-detalles .linea{
    border-bottom: 1px solid #E4E5E7;
    width: 100%;
}
.bg-detalles .caracteristicas h2{
    font-size: 22px;
}
.bg-detalles .caracteristicas table{
    font-size: 15px;
}
.bg-detalles .option img{
    width: 24px;
}
.bg-detalles .pregunta h5{
    font-size: 13px;
    margin-bottom: 5px;
}
.bg-detalles .pregunta{
    font-size: 12px;
    color: #000000;
    position: absolute;
    width: 230px;
    background: #EEF0F3;
    border: 1px solid #EEF0F3;
    padding: 12px 15px;
    border-radius: 8px;
    bottom: 100%;
    left: -435%;
    display: none;
}
.bg-detalles .tool:hover .pregunta{
    display: block;
}
.text-amarillo{
    color: #FFD140 !important;
}
.bg-detalles .comentarios{
    gap: 20px;
}
.bg-detalles .comentarios h5{
    font-size: 16px;
}
.bg-detalles .comentarios h5 span{
    font-size: 15px;
    float: right;
}
.bg-detalles .comentarios p{
    font-size: 14px;
    line-height: 22px;
}
.bg-detalles .comentarios p.public{
    color: #95979D;
    font-size: 14px;
}
.btn-gris{
    background-color: #EEF0F3;
    border-radius: 21px;
    padding: 11px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color: #000000 !important;
    text-decoration: none !important;
}
.fz-14{
    font-size: 14px;
}
.daterangepicker.auto-apply .drp-buttons{
    display: block !important;
}
.daterangepicker.auto-apply .drp-buttons .btn-default{
    background-color: #E4E5E7;
    border-radius: 20px;
    padding: 10px 25px;
}
.daterangepicker.auto-apply .drp-buttons .btn-primary{
    background-color: #FFD140;
    border-radius: 20px;
    padding: 10px 25px;
    display: inline-block;
    border-color: transparent;
    color: #000;
    opacity: 1;
}
.daterangepicker.auto-apply .drp-buttons .drp-selected{
    display: none;
}
.box-sider{
    box-shadow: 0px 2px 20px #0000001F;
    border-radius: 8px;
    padding: 30px;
}
.box-sider .box-cotiza span{
    font-size: 14px;
}
.box-sider .box-cotiza h3{
    font-size: 22px;
}
.box-sider .box-cotiza h3 span{
    font-size: 14px;
}
.box-sider .box-start{
    border: 1px solid #E4E5E7;
    padding: 6px 10px;
    margin-bottom: 2px;
}
.box-sider .box-start label{
    font-size: 13px;
    color: #62646A;
}
.box-sider .box-start input{
    width: 100%;
    border: 0;
    padding: 0;
    outline: none !important;
    font-size: 14px;
    color: #000000;
}
.box-sider textarea{
    width: 100%;
    border: 0;
    outline: none !important;
    font-size: 14px;
    color: #000000;
}
.box-sider .alerta p{
    font-size: 11px;
    color: #62646A;
    line-height: 18px;
}
.btn-cotizar{
    font-size: 16px;
    border-radius: 23px;
    background-color: #FFD140;
    color: #000000;
    width: 100%;
    padding: 13px;
    text-align: center;
}
.box-sider .precios tr td{
    font-size: 14px;
}
.box-sider .precios tr td.total{
    font-size: 18px;
}
.cuadro-sider p{
    font-size: 13px;
    color: #62646A;
}
.cuadro-sider img{
    width: 50px;
    height: auto;
}
#reporte p{
    font-size: 14px;
}
.btn-next{
    background-color: #FFD140;
    border-radius: 23px;
    padding: 6px 30px;
    color: #000000;
    display: inline-block;
    font-size: 16px;
}
#reporte .step1 label{
    font-size: 14px;
}
#reporte .step2 textarea{
    border-radius: 8px;
    border: 1px solid #DFDFDF;
    outline: none !important;
    font-size: 14px;
    width: 100%;
    padding: 20px;
}
.bg-carrucel{
    background-color: #FFD140;
    /*padding: 10px 0 0 0;*/
}
.carrucel img{
    width: 216px;
}
.carrucel h2{
    font-size: 19px;
}
.carrucel .arrow{
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    transition: 0.2s all linear;
    color: #000000;
    font-size: 19px;
}
.carrucel .arrow:hover{
    background-color: #fff;
    border-color: #ffffff;
    color: #000000;
}
.carrucel{
    overflow: inherit !important;
}
.carrucel .swiper-horizontal>.swiper-pagination-bullets,
.carrucel .swiper-pagination-bullets.swiper-pagination-horizontal,
.carrucel .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -29%;
}
.swiper-pagination-bullet-active{
    background-color: #FAA115 !important;
}
.carrucel .swiper-button-prev,
.carrucel .swiper-button-next{
    background-color: rgba(255,255,255,0.35);
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.carrucel .swiper-button-next:after,
.carrucel .swiper-button-prev:after{
    font-size: 18px;
    color: #ffffff;
}
.bg-slider .fomulario-search{
    border-radius: 0 5px 5px 5px;
}
.bg-slider .fomulario-search select{
    border: 0;
    margin: 10px 0;
    border-right: 1px solid #E4E5E7;
    border-radius: 0;
    font-size: 14px;
    color: #95979D;
}
.bg-slider .fomulario-search input{
    width: 100%;
    border: 0;
    padding: 6px 0 0 10px;
    outline: none !important;
    margin: 10px 0;
    font-size: 14px;
    color: #95979D;
}
.fomulario-search [class*="col-"] {
    padding: 0;
}
.btn-amarillo{
    height: 58px;
    width: 100%;
    background-color: #FFD140;
    color: #000;
    border: 0;
    display: block;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
}
.nav-tabs {
    border-bottom: 0;
}
.bg-slider .nav-tabs .nav-link{
    background: #E4E5E7;
    color: #62646A;
    font-size: 16px;
    min-width: 140px;
    text-align: center;
}
.bg-slider .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    position: relative;
}
.bg-slider .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:before{
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
    width: 37px;
    height: 3px;
    background-color: #FFD140;
}
.bg-slider h2{
    font-size: 36px;
    color: #ffffff;
}
.box-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: initial;
    gap: 0;
    padding: 0;
}
.border-lado{
    border-radius: 0 0 0 10px;
}
.box-new{
    box-shadow: 0px 1px 6px #0000001A;
    border: 2px solid #EEF0F3;
    border-radius: 12px;
    padding: 20px 17px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 13px;
}
.box-new h2{
    font-size: 20px;
}
.box-new p{
    font-size: 14px;
    margin-bottom: 0;
}
.nav-migas{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-migas li{
    color: #62646A;
    display: inline-block;
    font-size: 13px;
}
.nav-migas li a{
    color: #62646A;
    font-size: 13px;
}

/* Añadir estilo personalizado para la galería */
.galeria1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-navegacion {
    text-align: center;
}
.btn-galeria{
    color: #EEF0F3;
    outline: none !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.text-celeste{
    color: #1D8EFF !important;
}
.fz-14{
    font-size: 14px;
}
.btn-contacto{
    background-color: #23BE6B;
    color: #ffffff;
    border-radius: 21px;
    padding: 8px 17px;
    display: inline-block;
}

.slider-1 {
    background-color: #FFD140;
}

.slider-2 {
    background-color: #1D8EFF;
}

.slider-3 {
    background-color: #552E88;
}

.page-item.active .page-link{
    background-color: #001343;
    border-color: #001343;
}
.page-link:focus {
    box-shadow: none;
}
.page-link:hover{
    color: #001343;
}
.page-item:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.page-item:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.icono_mobile{
    font-weight: normal !important;
  }
@media (max-width: 767px){
    .carrucel h2 {
        font-size: 16px;
        width: 80%;
        text-align: center;
    }
    .box-flex{
        flex-direction: column;
        gap: 10px;
        padding: 14px 0;
    }
    .btn-amarillo{
        border-radius: 0 0 10px 10px;
    }
    .border-lado{
        border-radius: 0 10px 0 0;
    }
}
@media (max-width: 768px) {
    .megamenu {
        margin-left: 0;
        margin-right: 0;
    }
    .megamenu > li {
        margin-bottom: 30px;
    }
    .megamenu > li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
   
      .presentacion_img{ 
        width: 100%;
        object-fit: contain; 
        height: 100%;
      }
      .icono_mobile{
        display:none; 
      }

}
 
.image-container {
    width: 157px; /* Ancho deseado */
    height: 157px; /* Alto deseado */
  }
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.image-container2 {
   /* width: 208px; /* Ancho deseado */ 
    height: 208px; /* Alto deseado */
  }
.image-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 