.forget-pwd-main {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef0f3;
  }
  .forget-pwd-container {
    position: absolute;
    width: 412px;
    height: 590px;
    padding: 40px;
    border-radius: 8px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border-radius: 8px;
    opacity: 1;
    background: #fff;
  }
  
  .forget-pwd-container h1 {
    text-align: left;
    font: normal normal 500 24px/32px Roboto;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .forget-pwd-container > p {
    text-align: left;
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 30px !important;
  }

  .forget-pwd-container .forget-pwd-btn-wrapper {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -45%;
  }
  .forget-pwd-container .forget-pwd-btn-wrapper .forget-pwd-btn {
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    font: normal normal 500 15px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    background: #ffd140 0% 0% no-repeat padding-box;
    border-radius: 23px;
    text-decoration: none;
  }
  
  .forget-pwd-container .forget-pwd-btn-wrapper .forget-pwd-btn:hover {
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    font: normal normal 500 15px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    background: #feae02 0% 0% no-repeat padding-box;
    border-radius: 23px;
  }

  .forget-pwd-container .form-control {
    padding: 15px 20px;
  }
  .forget-pwd-container .form-control::placeholder {
    text-align: left;
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #95979d;
    opacity: 1;
  }