.location-main {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef0f3;
  }
  .direction-modal .modal-header{
    padding: 40px 40px 20px 40px;
  }
 .direction-modal .modal-body {
    padding: 0;
  }
  .direction-btn {
    margin-top: 35px;
    color: #000000;
    width: 100%;
    height: 46px;
    margin: 20px 40px 40px 40px;

    text-align: center;
  font: normal normal 500 15px/22px Roboto;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
    background: #ffd140 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border: none;
  }
  .direction-btn:hover {
    width:100%;
    height: 46px;
    color: #000000;
    background: #feae02 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border: none;
  }
  .location-container {
    position: absolute;
    width: 743px;
   
    border-radius: 8px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border-radius: 8px;
    opacity: 1;
    background: #fff;
  }
  .location-container2 {
   
    width: 100% !important;
   position:  relative !important;
    border-radius: 8px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border-radius: 8px;
    opacity: 1;
    background: #fff;
  }
  
  .location-container h1 {
    text-align: left;
    font: normal normal 500 24px/32px Roboto;
    font-weight: 500;
    padding: 40px 40px 20px 40px;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 10px;
    opacity: 1;
  }
  .location-container >  button {
    margin-top: 35px;
    color: #000000;
    width: 320px;
    height: 46px;
    margin: 20px 40px 40px 40px;

    text-align: center;
  font: normal normal 500 15px/22px Roboto;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
    background: #ffd140 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border: none;
  }
  .location-container > button:hover {
    width: 320px;
    height: 46px;
    color: #000000;
    background: #feae02 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border: none;
  }

  .location-container #map {
   
    width: 100%;
    height: 440px;

  }
  .location-container .fa-magnifying-glass {
    position: absolute;
      left: 0.8em;
      top: 38px;
      pointer-events: none;
    color: #8A8A8F;
    font-size: 20px;
  }
 .gmnoprint {
  width: 0 !important;
  display: none;
 }
.location-input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
 #pac-input-loc {
  left: 0px !important;
  margin-top: 20px;
 width: 100%;
 text-align: left;
 padding-left: 3.5em !important;
font: normal normal normal 14px/24px Open Sauce Sans;
letter-spacing: 0px;
color: #8A8A8F;
padding: 15px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 2px #0000001A;
border-radius: 23px;

 }
 
 .gm-style > div:nth-child(3)  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .location-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  z-index: 99999999;
  width: 100%;
 }

 .gm-control-active{
  width: 0px !important;
  display: none !important;
 }


 #continueButtonLocation:focus-visible,#continueButtonLocation:active {
  background: #feae02 !important;
 }